<header>
  <div class="logo">
    <h1>Food Bridge</h1>
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/donate" routerLinkActive="active">Donate</a></li>
      <li><a routerLink="/my-orders" routerLinkActive="active">My Orders</a></li>
      <li><a routerLink="/campaigns" routerLinkActive="active">Campaigns</a></li>
      <li><a routerLink="/rewards" routerLinkActive="active">Rewards</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
